[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
redis = "*"
elasticsearch = "*"

[dev-packages]
flake8 = "*"
black = "*"
pytest = "*"
isort = "*"
mypy = "*"

[requires]
python_version = "3.8"
